.container{
    display: grid;
    justify-content: center;
    grid-template-columns:40em;
}

.row{
    padding: 1em;
}
.button{
    color:rgb(170, 113, 26);
}

.display{
    
    background-color: aliceblue;
}